	body {
		font-family: Arial, sans-serif;
		direction: rtl;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
		background-image: linear-gradient(270deg, #7d2be7, #4173db, #05bcce);
		-webkit-text-stroke: 6px transparent; 
	}

	.logo {
		font-size: 24px;
		font-weight: bold;
	}

	.search-bar {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.search-input {
		display: flex;
		align-items: center;
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 20px;
		padding: 5px 10px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	}

	.search-input input {
		border: none;
		outline: none;
		font-size: 16px;
		flex: 1;
	}

	.search-input button {
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;
		display: flex;
		align-items: center;
	}

	.search-input button img {
		width: 20px;
		height: 20px;
	}

	.auth-links {
		display: flex;
		gap: 10px;
	}

	.auth-link {
		cursor: pointer;
		color: black;
		text-decoration: underline;
		margin-right: 2px;
	}

	nav {
		background-image: linear-gradient(270deg, #7d2be7, #4173db, #05bcce);
		-webkit-text-stroke: 6px transparent;
		opacity: 0.7;
		
	}
	.buyicon{
		width: 15px;
		height: 15px;
		margin-left:8px;
		
	}

	.main-menu {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		
	}

	.main-menu li {
		z-index: 2;
		position: relative;
		padding: 15px;
		color: #fff;
	}

	.sub-menu {
		
		list-style: none;
		position: absolute;
		top: 100%;
		left: 0;
		background-color: #4c65dd;
		opacity: 0.5;
		display: none;
		padding: 0;
		margin: 0;
	}

	.main-menu li:hover .sub-menu {
		display: block;
	}

	.sub-menu li {
		padding: 10px;
	}

	.container {
		display: flex;
		flex-direction: row-reverse; /* Ensures aside is on the left in RTL */
	}

	aside {
		background-color: #e9ecef;
		padding: 15px;
		width: 25%; /* Adjust as needed */
	  
	}



	main {
		padding: 15px;
		width: 75%; /* Adjust as needed */
	}

	section {
		margin-bottom: 20px;
	}

	.book-list {
		display: flex;
		overflow-x: scroll;
		gap: 10px; /* רווח בין הספרים */
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
		scrollbar-width: none;
		-ms-overflow-style: none;
		scroll-padding: 20%;
	}

	.book {
		 
		position: relative;
		display: inline-block;
		width: 200px; /* גודל קבוע לריבוע הספר */
		border: 1px solid #ddd;
		border-radius: 5px;
		padding: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		transition: box-shadow 0.3s;
		text-align: center; /* יישום מרכזיות לטקסט בתוך הריבוע */
		margin-bottom: 20px; /* הפרדה בין הספרים */
	}

	.book:hover {
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	}

	.book img {
		width: 100%;
		border-radius: 5px;
	}



	.book-details h3 {
		font-size: 18px; /* הקטנת גודל כותרת */
		margin-top: 0;
		margin-bottom: 10px;
	}

	.book-details p {
		margin-top: 0;
		margin-bottom: 10px;
	}

	.price {
		font-weight: bold;
		text-align: center;
	}
	.insale{
		  position: relative;

		 margin-bottom:15px;
		 margin-top:30px;
		text-align: center;
	}
	.button-container {
		display: flex;
		justify-content: center;
	}

	footer {
		background-image: linear-gradient(270deg, #7d2be7, #4173db, #05bcce);
		-webkit-background-clip: border-box;
		-webkit-text-stroke: 5px transparent ;
		transition: all 0.05s ease ;
		color: #fff;
		text-align: center;
		padding: 15px;
	}

	/* תפריט המבורגר */
	.menu-toggle {
		display: none;
	}

	.menu-icon {
		display: none;
		cursor: pointer;
		font-size: 24px;
		padding: 15px;
		color: #fff;
		background-color: #343a40;
	}

	@media (max-width: 981px) {
		header {
			flex-direction: column;
		}

		.search-bar {
			width: 100%;
			margin: 10px 0;
		}

		.main-menu {
			flex-direction: column;
			display: none;
		}

		.main-menu li {
			text-align: center;
		}

		.main-menu li:hover .sub-menu {
			position: static;
		}

		.menu-icon {
			display: block;
		}

		.menu-toggle:checked + .menu-icon + .main-menu {
			display: flex;
		}

		aside {
			display: none; /* Hide aside when screen width is 768px or less */
		}

		main {
			width: 100%; /* Make main take full width */
			padding: 0; /* Remove padding */
		}

		.book-details #infimg {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.book-details img {
			margin-bottom: 20px;
			max-width: 100%;
		}

		.book-details div {
			width: 100%;
			text-align: center;
		}

		.book-pricing {
			flex-direction: column;
			align-items: center;
		}

		.add-to-cart {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.add-to-cart button {
			margin-bottom: 10px;
		}

		* {
			margin: 0; /* Remove margin */
			padding: 0; /* Remove padding */
		}

		.book-details h1 {
			font-size: 24px; /* Smaller font size for h1 */
			margin-bottom: 5px; /* Margin between h1 and h4 */
		}

		.book-details h4 {
			font-size: 18px; /* Smaller font size for h4 */
			margin-top: 0; /* Remove top margin for h4 */
		}
	}



	/* עיצוב המודלים */
	.modal-toggle {
		display: none;
	}

	.modal {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		justify-content: center;
		align-items: center;
		z-index: 1000;
	}

	#login-modal-toggle:checked ~ #login-modal,
	#register-modal-toggle:checked ~ #register-modal {
		display: flex;
	}

	.modal-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		z-index: 1;
	}

	.modal-content {
		background-color: #fff;
		padding: 20px;
		border-radius: 5px;
		width: 300px;
		text-align: center;
		position: relative;
		z-index: 2;
	}

	.close-btn {
		position: absolute;
		top: 10px;
		right: 15px;
		color: #2891d6;
		cursor: pointer;
		font-size: 20px;
	}

	.modal-content label {
		display: block;
		margin: 10px 0 5px;
	}

	.modal-content input {
		width: 100%;
		padding: 8px;
		margin-bottom: 10px;
		box-sizing: border-box;
	}

	.modal-content button {
		background-color: #2891d6;
		color: #fff;
		border: none;
		padding: 10px 20px;
		cursor: pointer;
		font-size: 16px;
	}

	#send {
		color: white;
		text-decoration: none;
	}

	.new-books-section {
		margin-top: 20px;
	}

	.book-carousel {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}

	.discounted {
		color: gray;
		text-decoration: line-through;
	}

	#buttcont {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 10px;
	}

	button {
		background-color: #2891d6;
		color: white;
		border: none;
		padding: 8px 15px;
		border-radius: 5px;
		cursor: pointer;
		transition: background-color 0.3s;
		text-align: center;
		margin: 0 auto; /* Center the button */
	}

	#colorbutt:hover {
		background-color: #05bcce;
	}

	.heart-checkbox {
		display: none;
	}

	.heart-label {
		display: inline-block;
		width: 24px;
		height: 24px;
		background-image: url('https://cdn-icons-png.flaticon.com/512/2589/2589197.png');
		background-size: contain;
		background-repeat: no-repeat;
	}

	#heart-checkbox-1:checked + .heart-label-1,
	#heart-checkbox-2:checked + .heart-label-2,
	#heart-checkbox-3:checked + .heart-label-3,
	#heart-checkbox-4:checked + .heart-label-4,
	#heart-checkbox-5:checked + .heart-label-5,
	#heart-checkbox-6:checked + .heart-label-6,
	#heart-checkbox-7:checked + .heart-label-7,
	#heart-checkbox-8:checked + .heart-label-8,
	#heart-checkbox-9:checked + .heart-label-9,
	#heart-checkbox-10:checked + .heart-label-10,
	#heart-checkbox-11:checked + .heart-label-11,
	#heart-checkbox-12:checked + .heart-label-12,
	#heart-checkbox-13:checked + .heart-label-13,
	#heart-checkbox-14:checked + .heart-label-14,
	#heart-checkbox-15:checked + .heart-label-15,
	#heart-checkbox-16:checked + .heart-label-16,
	#heart-checkbox-17:checked + .heart-label-17,
	#heart-checkbox-18:checked + .heart-label-18,
	#heart-checkbox-19:checked + .heart-label-19,
	#heart-checkbox-20:checked + .heart-label-20,
	#heart-checkbox-21:checked + .heart-label-21,
	#heart-checkbox-22:checked + .heart-label-22,
	#heart-checkbox-23:checked + .heart-label-23,
	#heart-checkbox-24:checked + .heart-label-24 {
		background-image: url('https://cdn-icons-png.flaticon.com/512/2589/2589054.png');
	}

	#searchnutt:hover img {
		content: url('https://cdn-icons-png.flaticon.com/512/622/622669.png');
	}

	#search-input {
		padding: 5px;
		font-size: 16px;
		border: 1px solid #ccc;
		outline: none;
	}

	.new-banner {
		position: absolute;
		top: -19px;
		left: 0px;
		width: 50px;
		height: 50px;
		background-image: url('https://cdn-icons-png.flaticon.com/512/10786/10786058.png');
		background-size: cover;
		background-position: center;
		z-index: 1;
	}
	.sale-banner {
		position: absolute;
		top: 0px;
		left: 40px;
		width: 50px;
		height: 50px;
		background-image: url('https://cdn-icons-png.flaticon.com/512/791/791968.png');
		background-size: cover;
		background-position: center;
		z-index: 1;
	}
	.hot-banner {
		position: absolute;
		top: -19px;
		left: 0px;
		width: 50px;
		height: 50px;
		background-image: url('https://cdn-icons-png.flaticon.com/512/5629/5629148.png');
		background-size: cover;
		background-position: center;
		z-index: 1;
	}

	#imgcart {
		width: 17px;
		height: 17px;
		margin-right: 12px;
	}
	#information{
		color: white;
		text-decoration: none;
	}
	 #infimg {
		display: flex;
		align-items: center;
	}

	#imgbook {
		max-width: 200px;
		margin-left: 20px;
		

	 }

	.purchase-btn {
		background-color: #FFD966;
		color: black;
		border: none;
		padding: 10px 20px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 20px 0;
		cursor: pointer;
	}
	.read-more-checkbox {
		display: none;
	}

	.read-more-content {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s ease;
	}

	.read-more-checkbox:checked ~ .read-more-content {
		max-height: 500px;
	}

	.read-more-label {
		display: inline-block;
		margin-top: 10px;
		margin-bottom:30px;
		color: black;
		cursor: pointer;
		font-weight:bolder;
		
	}

	.read-more-container {
		margin-top: 10px;
	}
	h1{
	  margin-bottom:-20px;	
	}
	.priceofbook{
		font-family: "ploni", Sans-serif;
		font-size: 30px;
		font-weight: 500;
		font-weight:bolder;
	}
	.book-pricing{
		 display: flex;
		align-items: center;
		margin-top: 10px;
		justify-content:space-between;

	}
	.quantity {
		background-color: #FFD966;
		color: black;
		padding: 5px 10px;
		border-radius: 50%;
		font-size: 16px;
		
	}
	.purchase{
		display: flex;
		flex-direction: row;
		width:50%;
		
	}
	#logoimg{
		width: 200px;
		
	}
	.imgsize{
		width: 200px;
	}
	 .icon img {
			transition: transform 0.3s;
	}

	.icon:hover img {
		transform: scale(1.1);
	}
	.footer-container {
		
      padding: 30px 20px;
      text-align: center;
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    
    .footer-left {
      flex: 0 0 25%;
      text-align: left;
    }

    .footer-left h3 {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .footer-center {
      flex: 0 0 50%;
      text-align: center;
    }

    .footer-center p {
      margin: 10px 0;
    }

    .footer-center form {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
    }

    .footer-center label {
      margin-bottom: 10px;
      font-size: 20px;
    }

    .footer-center input[type="email"] {
      padding: 8px 12px;
      margin-right: 10px;
      border: 1px solid #ccc;
      border-radius: 20px;
    }

    .footer-center button {
      padding: 8px 12px;
      border: none;
      background-color: #ff8c00;
      color: white;
      border-radius: 20px;
      cursor: pointer;
    }

    .footer-center button:hover {
      background-color: #0056b3;
    }

    .footer-columns {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .footer-column {
      flex: 0 0 23%;
      margin-bottom: 20px;
	 
    }

    .footer-column ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .footer-column ul li {
      margin-bottom: 8px;
    }

    .footer-column ul li a {
      text-decoration: none;
      color: white;
    }

    .footer-column ul li a:hover {
      text-decoration: underline;
    }

    #logoimgfooter {
      width: 150px;
    }

    @media (max-width: 981px) {
      .footer-container {
        flex-direction: column;
        align-items: center;
      }

      .footer-left,
      .footer-center,
      .footer-columns {
        flex: 1;
        text-align: center;
        margin-bottom: 20px;
      }
	  
    }
	
	#logoimgfooter {
		width: 300px; /* או כל גודל שאתה רוצה */
	}
	.imgbutt{
		color: black;
		 text-decoration: none;
	}
	.conttheet{
		text-align: right;
	}